.container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   overflow: hidden;
   justify-content: center;
}
.form1 {
    flex-direction: column;
}

.journalDate {
    display: flex;
    flex-wrap: wrap ;
}

.concepts{
    display: flex;
    flex-wrap: wrap;
}

.journalEntry{
    display: flex;
    flex-wrap: wrap;
}
.currentMood{
    display: flex;
    flex-wrap: wrap;
}

.loggedEntry {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.siteTitle {
    justify-content: center;
}